.Programs {
    display: flex;
    flex-direction: column;
    gap:2rem;
    padding: 0 2rem
}

.programs-header {
    display: flex;
    gap: 5rem;
    font-weight: bold;
    font-size: 3rem;
    justify-content: center;
    color: white;
    text-transform: uppercase;
    font-style: italic;
}

.stroke-text {
    -webkit-text-stroke-width: 1px; /* Width of the stroke */
    -webkit-text-stroke-color: white; /* Color of the stroke */
    color: transparent; /* Make the text transparent */
}

.program-categories{
    display: flex;
    gap: 1rem;
}

.category{
    display: flex;
    flex-direction: column;
    background-color: gray;
    padding: 3rem;
    gap:1rem;
    color: white;
    justify-content: space-between;
}

.category>:nth-child(1){
    width: 2.7rem;
    height: 2rem;fill:white ;
}

.category>:nth-child(2){
    font-size: 1.4rem;
    font-weight: bold;
}

.category>:nth-child(3){
    font-size: 1.2rem;
    line-height: 25px;
}

.category:hover{
    background: #ec3877;
    cursor: pointer
}
